
  <fieldset><legend>School Details</legend>
    <div ><ol>
        <li>
          <span class="field-title long">Principal name:</span>
          <span class="field"><%= school.principal_title %> <%= school.principal_firstname %> <%= school.principal_surname %></span>         
        </li>
        <li>
          <span class="field-title long">School name:</span>
          <span class="field"><%= school.name %></span>
        </li>
        <li>
          <span class="field-title long">Principal email name:</span>
          <span class="field"><%= school.email %></span>
        </li>   
        <li>
          <span class="field-title long">School Address:</span>
          <span class="field"> <%= school.address %>,<br/><%= school.suburb %>,<br/><%= school.state %>,<br/><%= school.postcode %>.</span>
        </li>
        <li>
          <span class="field-title long">School Phone Number:</span>
          <span class="field"><%= school.phone %></span>
        </li>
      </ol>

    </div>
    <div class="clr"></div>
  </fieldset>