<%= form_for(@student, :html => {:multipart => true, :class => "formbuilder"})  do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation" class="form-error">
  <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset><legend>Student details</legend>
    <div class="fltleft column">
      <ol>
        <li>
          <label>Title <em>*</em></label>
          <%= select(:student, :title, [['Mr', 'mr'], ['Mrs', 'mrs'], ['Ms', 'ms']], {}, :class => "span1") %>
        </li>
        <li>
          <label>First name <em>*</em></label>
          <%= f.text_field :first_name %>
        </li>
        <li>
          <label>Last name <em>*</em></label>
          <%= f.text_field :last_name %>
        </li>
        <li>
          <label>Date of birth <em>*</em></label>
          <%= f.date_select :date_of_birth, {:start_year => Time.now.year, :end_year => Time.now.year - 70} %>
        </li>
      </ol>
    </div>
    <div class="column fltleft">
      <ol>
        <li>
          <label>Parent or carers name <em>*</em></label>
          <%= f.text_field :parent_name %>
        </li>
        <li>
          <label>Parent or carers phone </label>
          <%= f.text_field :parent_phone %>
        </li>
        <li>
          <label>Parent or carers mobile </label>
          <%= f.text_field :parent_mobile %>
        </li>
        <li>
          <label>UAC applicant number <em>*</em></label>
          <%= f.text_field :uac_number %>
        </li>
      </ol>
    </div>
  </fieldset>

  <fieldset><legend>Contact details</legend>
    <div class="fltleft column">
      <ol>
        <li>
          <label>Contact Email <em>*</em></label>
          <% if @student.new_record? %>
            <%= f.text_field :email %>
          <%else%>
            <%= f.text_field :email, :readonly => true %>
          <%end%>
        </li>
        <li>
          <label>Confirm Contact Email <em>*</em></label>
          <% if @student.new_record? %>
            <%= f.text_field :email_confirmation, :value => (@student.email unless @student.new_record?) %>
          <%else%>
            <%= f.text_field :email_confirmation, :value => (@student.email unless @student.new_record?), :readonly => true %>
          <%end%>
        </li>
        <li>
          <label>Mobile</label>
          <%= f.text_field :mobile %>
        </li>
        <li>
          <label>Phone</label>
          <%= f.text_field :phone %>
        </li>
      </ol>
    </div>
    <div class="column fltleft">
      <ol>
        <li>
          <label>Address 1 <em>*</em></label>
          <%= f.text_field :address1 %>
        </li>
        <li>
          <label>Address 2</label>
          <%= f.text_field :address2 %>
        </li>
        <li>
          <label>Suburb <em>*</em></label>
          <%= f.text_field :suburb %>
        </li>
        <li>
          <label>State <em>*</em></label>
          <%= f.collection_select :state_id, State.all, :id, :name %>
        </li>
        <li>
          <label>Post code <em>*</em></label>
          <%= f.text_field :post_code, :class => "short" %>
        </li>
      </ol>
    </div>
  </fieldset>
  <% if @student.new_record? %>
    <fieldset><legend>Log in details</legend>
      <div >
        <ol>
          <li>
            <label>Email <em>*</em></label>
            <%= f.text_field :login_email %>
          </li>
          <li>
            <label>Password <em>*</em></label>
            <%= f.password_field :password %>
          </li>
          <li>
            <label>Confirm password <em>*</em></label>
            <%= f.password_field :password_confirmation %>
          </li>
        </ol>
      </div>
    </fieldset>
  <% end %>

  <fieldset>
    <legend>Application details</legend>
    <p>
      <%= f.label :name, "School Name" %>
      <%= f.collection_select :school_id, School.all, :id, :display_title, :prompt => true %>
    </p>
    <!-- when the school is a esa identified school -->
    <div id="eas_yes">
      <p><span class="info-tip">This school has been identified as a L-SES school and you are eligible for Sydney Early Entry (E12) Scheme</span></p>
    </div>
    <!-- when the school is NOT a esa identified schhol -->
    <div id="eas_no"><p >
        <span class="info-tip">Your school is not an identified L-SES school you will need to complete an <a href="http://www.uac.edu.au/undergraduate/eas/" target="_blank">Educational Access Scheme</a> (EAS) to demonstrate financial hardship to be eligible for the E12 scheme.</span></p>
      	<p><%= f.check_box(:sec_school_accept) %>   I understand my application will not be considered unless I lodge an EAS application form. UAC will provide the University with information regarding the status of my EAS application.</p></div>
    <p>
      <%= f.label :name, "Course" %>
      <%= f.collection_select :course_id, Course.all, :id, :display_course_name %>
    </p>

    <p>1. Outline the co-curricular activities in which you have been involved in. These could be sports, cultural and or community activities, or school leadership roles. Choose one example and tell us why you chose to undertake that activity and what you learned or gained from it. <em>*</em>
      <br>
      <%= f.text_area :note1, :class => "long" %> (Maximum 250 characters)</p>
    <p>

      2. What would you consider your three best academic achievements? Select the one of which most you are most proud and tell us why it is important to you. <em>*</em>
      <br><%= f.text_area :note2, :class => "long" %><br /> (Maximum 250 characters)
    </p>
    <p>

      3. Tell us why you want to study the course you have chosen. What is your interest in this area and what do you hope to achieve from studying this course? <em>*</em>
      <br><%= f.text_area :note3, :class => "long" %> (Maximum 250 characters)
    </p>
  </fieldset>

  <fieldset>
    <legend>Attachment details</legend>
    <div>Upload your supporting documents these may be a recent school report, award, certificate or reference from a teacher or employee.</div>
    <div><span class="info-tip">Only upload PDF documents and files no larger than 2MB.</span></div>
    <% if @student.new_record? %>
      <% Student.number_of_files.to_i.times do |i| %>
        <div class="fltleft">
          <p><label>Attachment <%= i + 1 %> </label> <%= text_field "file_name", "#{i}" %></p> 
        </div>
        <div class="fltleft">
          <p><label>Upload</label> <%= file_field "file", "#{i}" %></p>   
        </div>
      <%end%>
    <% else %>
      <% i = 0 
      @student.student_files.each do |file| %>
        <div  >
          <p ><label>Attachment <%= i + 1 %> </label> 
            <label class="field"><%= file.display_name %>&nbsp;&nbsp;&nbsp;<%= link_to file.name, "/data/#{file.name}" %></label></p> 
        </div>
        <div class="clr"></div>
        <% i += 1
      end %>
      <% remaning_files = Student.number_of_files.to_i - i
      remaning_files.times do |i| %>
        <div class="fltleft">
          <p><label>Attachment <%= i + 1 %> </label> <%= text_field "file_name", "#{i}" %></p> 
        </div>
        <div class="fltleft">
          <p><label>Upload</label> <%= file_field "file", "#{i}" %></p>   
        </div>
      <%end%>   
    <%end%>    
  </fieldset>

  <div >
    <%= f.check_box(:declaration2) %>     
    I understand that my application will not be considered unless my Principal supports my application and submits the supporting E12 Principal’s Application form.
    <br/>
    <p><b>Declaration</b><br/>

      <%= f.check_box :declaration1 %>
      I declare that the information provided in this application form and in the attachments is correct and complete. I give permission for the University of Sydney to contact my Principal or teachers about my marks and achievements and I understand that this information will be used only for assessing my E12 application.
      <br/></p>

    <p><b>Information</b><br />The information you provide on this form will be held by the University of Sydney and used only for assessing your application. It will not be disclosed outside the University except with your consent or if required or authorised by law. You have the right to access and correct any information about you held by the University. Please contact the <a href="http://sydney.edu.au/arms/gipa/contacts.shtml" target="_blank" >University's Right to Information Officers</a> for further information.
    </p>

  </div>
  <p><% if @student.new_record? %>
      <%= recaptcha_tags %>
    <% end %></p>
  <p><span class="info-tip">if your application is complete, please submit now. Once your application has been submitted you are not able to make any changes or resubmit. <br/>
If you cannot complete the application at this time you can save it and log back in at a later date.</span></p>
  <div class="buttons">
    <%if @student.new_record? %>
     <%= link_to "Back", root_path, :class => "submit-button button" %>
    <%end%>
    <%= f.submit "Save", :class => "submit-button button" %>
<%= f.submit "Submit", :class => "submit-button button", :id => "final_submit" %>
</div>
<%= hidden_field_tag 'final_submit_flag' %>	
<% end %>
<div id="dialog-confirm" title="Application submit">
<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>You will not be able to update this application once submitted , are you sure you want to submit?</p>
</div>
