<h1>Student Application For <%= @student.full_name %> </h1>
<%= render :partial => 'studentdetails', :locals => {:student => @student} %>
<div class="buttons  form-buttons">
<%= (link_to 'Edit', edit_student_path(@student), :class => "submit-button button") unless @student.vaidate_required_field? %>
<% if user_signed_in? %>
	<%= (link_to "back", root_path, :class => "submit-button button") unless @student.vaidate_required_field? %>
<% else %>
    <%= (link_to "back", root_path, :class => "submit-button button") %>
<% end %>
</div>
