<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "formbuilder" }) do |f| %>
  <form class="formbuilder"><div class="login-sub">
      <fieldset><legend>Change Password</legend>
        <% unless devise_error_messages!.empty? %>
      	 <div class="form-error" id="error_explanation">
		  <ul>
		  	<% messages = devise_error_messages! %>
		  	<% messages.each do |msg| %>
		  	 <li><%= msg %></li>
		  	<% end %>
	      </ul>
	     </div>
	    <% end %>
        <%= f.hidden_field :reset_password_token %>
        <ol>
          <li>
            <label>Email: </label>
            <span class="field">
            	<%= @user.email %>
            </span>
          </li>
          <li>
            <label>New password: <em>*</em></label>
            <%= f.password_field :password %>
          </li> 
          <li>
            <label>Confirm password: <em>*</em></label>
            <%= f.password_field :password_confirmation %>
          </li> 
          <li class="buttons">
            <div class="buttons"><%= f.submit "Change my password", :class => 'submit-button button'   %>
            <%= render :partial => "devise/shared/links" %></div>
          </li>
        </ol>        
      </fieldset>
    </div></form>
<% end %>

