<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "formbuilder"}) do |f| %>
  <div class="login_wrapper">
    <div class="fltleft column">
      <h1>Early Offer Year 12 Scheme (E12)</h1>
      <p>E12 is for students who attend an identified L-SES school and/or meet financial hardship criteria under UAC's Educational Access Scheme.
If students don't attend an identified school an EAS application must also be submitted to be eligible for the E12 scheme.</p>
      <%= submit_tag 'Start Application', :type => 'button', :onClick => 'location.href="/students/new"', :class => 'login-set-align submit-button button' %>	
    </div>
    <div class="fltleft">
    	<fieldset><legend>Edit Current Application</legend>
    	<ol>
    		<li>
    			<label for="user_email">Email <em>*</em></label>
    			<%= f.email_field :email %>
    		</li>
    		<li>
    			<label for="user_password">Password <em>*</em></label>
    			<%= f.password_field :password %>
    		</li>
    		<li class="buttons">
    			<%= link_to "Forgot Password?", new_password_path(resource_name), :class => "login-set-align" %>
    			<%= f.submit "Login", :class => "login-set-align submit-button button" %>
    		</li>
    	</ol>
    	</fieldset>
    </div>
    <div class="clr"></div>
  </div>
<div class="clr"></div>    
<% end %>
