<h1>Principal’s Supporting Application for <%= @student.try(:full_name) %> </h1>
<%= form_for(@feedback, :html =>{:class => "formbuilder", :onsubmit => "disableButtons();"}) do |f| %>
  <%= render :partial => 'comments/schooldetails', :locals => {:school => @school} %>   
  <%= render :partial => 'questions'%>
  <%= f.hidden_field :answers %>
  <%= f.hidden_field :id %>

  <fieldset class="no-spc-abv">
    <div ><ol>

        <li>
          <label for="feedback_extra_note" class="long">Is there any other information you would like to add in support of the student?</label>
          <%= f.text_area :extra_note, :class => 'small' %>
        </li>
      </ol>

    </div>
    <div class="clr"></div>
  </fieldset>
  <div>
    I have read the student's application and I can <br/>
    <label class="recon-asr" for="feedback_recommandation_level_recommand"><%= f.radio_button :recommandation_level, "recommand" %> Highly Recommend</label><br/>
    <label  class="recon-asr" for="feedback_recommandation_level_highly_recommand"><%= f.radio_button :recommandation_level, "highly_recommand" %> Recommend</label><br/>
    <label class="recon-asr"  for="feedback_recommandation_level_support"><%= f.radio_button :recommandation_level, "support", :checked => true %> Support</label>
  </div>
    <div class="buttons">
      <input type="button" value="Submit" class="submit-button button" id="save">
      <%= link_to "back", root_path, :class => 'submit-button button' %>
    </div>
<% end %>
<div id="feedback-confirm" title="Feedback submit">
 <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Once you submit the supporting application you cannot resubmit.  Are you sure you want to submit the supporting application?</p>
</div>