<h1>Principal’s Supporting Application for <%= @student.try(:full_name) %> </h1>
<% if @feedback.errors.any? %>
    <div id="error_explanation" class="form-error">
  <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>
<%= render :partial => 'students/studentdetails', :locals => {:student => @student} %>
<%= form_for(@feedback, :html =>{:class => "formbuilder"}) do |f| %>
    <%= f.hidden_field :student_id, :value => @student.try(:id) %>
  	<%= f.hidden_field :user_id, :value => current_user.id %>
  	<%= f.hidden_field :school_id, :value => @student.try(:school).try(:id) %>
<fieldset>
    <legend>Principal’s Recommendation</legend>
    <p>
      <label>Support the student application: <em>*</em></label>
      <%= f.select(:support_student, [['No', 0], ['Yes', 1]], {}) %>
    </p>
    <div id="principal_feedback_step1">
      <p>
        <% support_statues.each do |support_status| %>
  	   <label>&nbsp;</label><%= f.radio_button :application_support_status_id, support_status.id %><%= support_status.status %><br />
  	<% end %>
       
      </p>
      <p id="other-textarea">
        <label>Comment:</label>
        <%= f.text_area :application_support_comment, :class => "normal"  %>
      </p>
  	
  	
  </div>
  </fieldset>
  <br />
  
  <div class="buttons">
    <%= f.submit  "Next", :class => "login-set-align submit-button button" %>
    <%= link_to "back" , root_path , :class => "submit-button button" %>
  </div>
<% end %>
<div id="feedback-confirm" title="Feedback submit">
 <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Are you sure you want to submit this feedback?</p>
</div>